/* colors */
$mainColor: #2f6690;
$sectionBg: #f6d6ad7f;
$mainFont: #000000;
$headerFont: #136aac;
$selectOpt: #00bcd466;
$optionBg: #ffffff;

/* Font-family */
$mainFamily: "Merriweather Sans", sans-serif;
$primaryFamily: "Raleway", sans-serif;
$robotoFamily: "Roboto", sans-serif;
